html {
  display: flex;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  backface-visibility: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: transparent;
}

.hero {
  position: relative;
  background: var(--brand-black);
  color: var(--brand-white);
}

.hero::before,
.hero::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}

.hero::before {
  height: 6rem;
  top: 0;
  background: linear-gradient(to bottom, var(--brand-black), transparent);
}

.hero::after {
  height: 3rem;
  bottom: 0;
  background: linear-gradient(to top, var(--brand-black), transparent);
}

.hero .container {
  position: relative;
  z-index: 2;
  height: 100%;
  display: grid;
  padding: 9rem 0 4rem;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  align-items: center;
}

.hero .hero__letter {
  padding: 1rem 4rem;
}

.hero .hero__content {
  font-size: 1.5rem;
  padding: 1rem;
}

.hero .hero__content h2,
.hero .hero__content p {
  font-size: 1em;
  margin: 0;
  margin-bottom: 0.5rem;
}

.hero .hero__content h2 {
  font-size: 2em;
}

.hero .hero__content a {
  display: inline-block;
  padding: 0.25rem 1.5rem;
  border: 0.125rem solid var(--brand-red);
  color: var(--brand-red);
  text-transform: uppercase;
  text-decoration: none;
}

.hero .hero__content a:hover,
.hero .hero__content a:focus {
  background: var(--brand-red);
  color: var(--brand-white);
  transition: all 0.2s ease-in-out;
}

.hero .hero__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transform: scale(0.8);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.hero .hero__bg.visible {
  opacity: 0.6;
  transform: none;
}

@keyframes planetaryRotation {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

.hero .hero__bg .planet {
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 200px;
  min-width: 100px;
  min-height: 100px;
  padding: 1rem;

  /* position: absolute; */
  /* animation-name: planetaryRotation; */
  animation-duration: 300s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: center;
}

.hero .hero__bg .planet:nth-child(1) {
  align-self: self-start;
  justify-self: self-start;

  margin-top: -3rem;
  margin-left: -6rem;

  animation-duration: 200s;
}

.hero .hero__bg .planet:nth-child(1).outside {
  transform: translateX(-256px) translateY(-256px);
}

.hero .hero__bg .planet:nth-child(2) {
  align-self: self-start;
  justify-self: self-end;

  animation-duration: 250s;
  animation-direction: reverse;
}

.hero .hero__bg .planet:nth-child(2).outside {
  transform: translateX(256px) translateY(-256px);
}

.hero .hero__bg .planet:nth-child(3) {
  align-self: self-end;
  justify-self: self-start;

  margin-bottom: -5rem;

  animation-duration: 176.4s;
}

.hero .hero__bg .planet:nth-child(3).outside {
  transform: translateX(-256px) translateY(256px);
}

.hero .hero__bg .planet:nth-child(4) {
  align-self: self-end;
  justify-self: self-end;

  margin-right: -4rem;

  animation-duration: 214.53s;
}

.hero .hero__bg .planet:nth-child(4).outside {
  transform: translateX(256px) translateY(256px);
}

.hero .hero__bg .astronaut {
  position: absolute;
  max-width: 12rem;
  max-height: 12rem;
  bottom: 1rem;
  right: 1rem;
}

.hero .hero__bg .astronaut.outside {
  bottom: -12rem;
  right: -12rem;
}


@media only screen and (max-width: 600px) {
  .hero .hero__content {
    font-size: 1.125rem;
  }
}



.speakers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.speakers .speaker {
  position: relative;
  text-align: center;
  display: grid;
  background: var(--brand-black);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}

.speakers .speaker::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6rem;
  background-image: linear-gradient(to top, var(--brand-black), transparent);
}

.speakers .speaker .speaker__image {
  width: 100%;
}

.speakers .speaker .speaker__name,
.speakers .speaker .speaker__area {
  position: absolute;
  margin: 0;
  width: 100%;
  padding: 0.25rem;
}

.speakers .speaker .speaker__name {
  font-weight: bold;
  font-size: 1.125rem;
  bottom: 2.25rem;
  z-index: 2;
}

.speakers .speaker .speaker__area {
  font-size: 0.85rem;
  bottom: 1rem;
}


.schedule {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.schedule .schedule-item {
  display: flex;
  flex-wrap: wrap;
}

.schedule .schedule-item .schedule__time,
.schedule .schedule-item .schedule__description {
  padding: 1rem;
}

.schedule .schedule-item .schedule__time {
  padding: 1rem 1rem 1rem 0;
}

.schedule .schedule-item .schedule__description {
  flex: 1;
  font-weight: 500;
  font-size: 1.125rem;
  border-top: 1px dashed var(--brand-red);
  border-left: 2px solid var(--brand-red);
}

.schedule .schedule-item:nth-child(odd) .schedule__description {
  background: #f0f1f2;
}

.schedule .schedule-item:last-child .schedule__description {
  border-bottom: 1px dashed var(--brand-red);
}
