header {
  background: var(--brand-black);
}


.section_speaker {
  display: grid;
  background: #ffffff;
  color: #212121;
}

.section_speaker .container {
  width: 100%;
  max-width: 50em;
}

.speaker__info {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 210px minmax(210px, 1fr);
  grid-gap: 1.5em;
}

@keyframes move {
  from {
    transform: translate(0.5rem, 0.5rem);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  }
  to {
    transform: translate(-0.25rem, -0.25rem);
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
}

.speaker__image {
  width: 100%;
  max-width: 220px;
  height: auto;
  border-radius: 2px;
  transform: translate(0.5rem, 0.5rem);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  animation: move 0.3s 0.3s ease-out forwards;
}

.speaker__desc p {
  margin: 0 0 1rem;
}

@media only screen and (max-width: 600px) {
  .speaker__image {
    margin: auto;
  }

  .speaker__info {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 420px) {
  .speaker__title {
    text-align: center;
  }
}
