header {
  background: linear-gradient(to bottom, var(--brand-pure-black), transparent);
  background: var(--brand-pure-black);
}

.talk .talk__header {
  background: var(--brand-pure-black);
  position: relative;
  height: 70vh;
  min-height: 20rem;
}

.talk .talk__header::before,
.talk .talk__header::after {
  content: "";
  position: absolute;
  height: 10%;
  left: 0;
  right: 0;
  pointer-events: none;
}

.talk .talk__header::before {
  top: 0;
  background-image: linear-gradient(to bottom, var(--brand-pure-black), transparent);
}

.talk .talk__header::after {
  bottom: 0;
  background-image: linear-gradient(to top, var(--brand-pure-black), transparent);
}

.talk .talk__video {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin: auto;
}

.talk .talk__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.talk .talk__body {
  display: flex;
  flex-wrap: wrap;
}

.talk .talk__body .talk__description,
.talk .talk__body .talk__meta {
  padding: 2rem 0;
}

.talk .talk__body .talk__description {
  flex: 1;
  min-width: 20rem;
}

.talk .talk__body .section__heading {
  font-size: 1.25rem;
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 500;
}


.talk .talk__share {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.talk .talk__share .heading {
  margin: 0;
  margin-bottom: 0.5rem;
}

.talk .talk__share .share-links {
  display: flex;
}

.talk .talk__share .share-links a {
  width: 2.25rem;
  height: 2.25rem;
  margin-right: 0.5rem;
  border: none;
  padding: 0.25rem;
}




.talk .talk__body .talk__meta {
  width: 20rem;
  margin-left: 2rem;
}

.talk .speaker {
  display: flex;
  flex-direction: column;
}


.talk .speaker .speaker__name {
  font-weight: 500;
}

.talk .speaker .speaker__title {
  font-style: italic;
  font-size: 0.875rem;
}

.talk .speaker .speaker__name,
.talk .speaker .speaker__title {
  margin: 0;
}

.talk .speaker .speaker__description {
  font-size: 0.875rem;
}

@media only screen and (max-width: 42.5rem) {
  .talk .talk__body .talk__description,
  .talk .talk__body .talk__meta {
    padding: 1rem 0;
  }

  .talk .talk__body .talk__meta {
    margin-left: 0;
    width: 100%;
  }
}
