main {
  padding: 1rem 0;
}

main h2 {
  margin: 0;
}

main .container {
  max-width: 55rem;
}


.talks {
  padding: 1rem 0;
}

.talks .talk {
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.talks .talk a {
  border: none;
}

.talks .talk .talk__img {
  background: #f3f3f3;
  width: 100%;
  opacity: 0.9;
  transition: opacity 0.2s linear;
}

.talks .talk:hover .talk__img {
  opacity: 1;
}

.talks .talk .talk__meta {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.talks .talk .talk__description {
  font-size: 0.875rem;
  margin: 0.25rem 0 0;
}

.talks .talk .talk__title {
  display: block;
  font-size: 1.5rem;
  margin: 0;
  font-weight: normal;
}

.talks .talk .talk__title a {
  display: block;
}

.talks .talk .talk__speaker {
  margin: 0;
}


@media only screen and (max-width: 42.5rem) {
  .talks .talk .talk__meta {
    padding: 0;
  }

  .talks .talk .talk__title {
    font-size: 1.125rem;
  }

  .talks .talk .talk__speaker {
    font-size: 0.875rem;
  }
}
